/* Page Behaviour */
html {
    scroll-behavior: smooth;
}


.navbar-brand {
    margin-bottom: 7px;
}

.navbar {
    margin-bottom: 2%;
}



.left_container, .right_container {

    width: 50vw;
    border: 3px solid red;

}

.left_container {
    float: left;
}

.right_container {
    float: right;
}

.landing_img {
    width: 100%;


}

/* for if a user must complete a prior task */

.no-proceed {
    opacity: 0.25;
    pointer-events: none;
    user-select: none;
    transition: 0.3s ease-out;
}



/* mandatory indicator label */
.mandatory {

    font-weight: 500;

}

/* non-mandatory indicator label */
.non-mandatory {

    color: gray;
    font-weight: 200;

}

.hint {
    opacity: 0.7;
}

.success {
    color: green;
}

.fail_option {
    border: 3px solid red;
    transition: 0.15s ease-in;
}

.success_option {
    border: 3px solid green;
    transition: 0.15s ease-in;

}

.hide_default {
    display: none;
    transform: scale(0);
    opacity: 0;
    transition: 0.2s ease;
}

.reveal {
    transform: scale(1);
    opacity: 1;
    transition: 0.5s ease-in;
}

.form_section {
    transition: 0.5s ease-in;
}

.muted {
    opacity: 0.6;
    color: gray;
}

.center {
    display: flex;
    justify-content: center;
    margin: auto;
}

.form_section {
    margin-bottom: 6%;
}

.text-secondary {
    margin-bottom: 3%;
}

.form-control {
    margin-bottom: 1.5%;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    background: #C1D82F;
    color: black;
    letter-spacing: 3px;
    width: 60%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: .5%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    -webkit-box-shadow: 10px 8px 13px -2px rgba(0,0,0,0.31);
    box-shadow: 10px 8px 13px -2px rgba(0,0,0,0.31);


}

h2 {

    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;



}

label, p {
    font-family: 'Libre Franklin', sans-serif;
    color: #3C3744
}

.form_submit_feedback .row {

    margin: 5%;

}

.next_steps {
    margin-bottom: 2%;
}

.form_submit_feedback_section {
    margin-top: 2%;
}

.land_content {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;


}


.landing_info {

    animation-name: drive_in_from_right;
    animation-duration: 1.3s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
    transform: translateX(100%);
    filter: blur(3px);


}

@keyframes drive_in_from_left {

    from {transform: translateX(-100%); filter: blur(3px);}
    to {transform: translateX(0%); filter: blur(0px);}

}

@keyframes drive_in_from_right {

    from {transform: translateX(100%); filter: blur(3px);}
    to {transform: translateX(0%); filter: blur(0px);}

}

.landing_img {
    animation-name: drive_in_from_left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    filter: blur(3px);
    margin: auto;
}

.landing_heading {
    margin-bottom: 6%;
}

@media only screen and (max-width : 480px) {
    /* only size 'xs' and below */
    .nav_logo {
        height: 35px;
    }
}

h1, h2, h3, h4, h5, p {
    text-align: center;
    margin: auto;
}

h2 {
    margin-bottom: 4%;
    margin-top: 4%;
}

.input {
    margin: auto;
    margin-bottom: 2%;
    width: 45%;
}

.input_wide {
    width: 100%;
}

.btn {
    margin: 2%;
    background-color: #C1D82F;
    border: 2px solid #C1D82F;
    border-radius: 8px;
}
.btn:hover {
    border: 2px solid #C1D82F;
    background-color: #C1D82F; /* Green */
    color: white;
  }

.error_message {
    color: RGB(235, 143, 52);
}

.customer-first-name_markup, .customer-last-name_markup {
    text-transform: capitalize;
}
