/* REAL TIME form feedback for input fields */
.success_realtime {
    border: 3px solid #5cb85c !important;
    transition: 0.3s ease-in !important;
}

.fail_realtime {
    border: 3px solid #d9534f !important;
    transition: 0.3s ease-out !important;
}

#customer-first-name, #customer-last-name {
    text-transform: capitalize;
}

.section_JOB, .section_TRUCK, .section_YOU, .section_WHEN {
    transition: 0.4s ease-in;
}

.locked_section {
    opacity: 0.2 !important;
    transition: 0.4s ease-out;
    pointer-events: none;
    cursor: none;
    tab-index: -1;
}

.hide_this {
    display: none;
    opacity: 0;
    transition: 0.5s ease-out;
}

.text_center {
    text-align: center;
}

.date_specific_error, .phone_specific_error {
    color: red !important;
}

/* Flash messages */
.message {
    padding: 1rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}
.message.warning {
    background: #fffabc;
    color: #8d7b00;
    border-color: #d3b800;
}
.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}
